.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 55px 135px;
}


.form{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;
}

.usersname, .location, .number{
    display: flex;
    gap: 12px;
}

.usersname-name, .usersname-lastname, .location-city, .location-country, .mail, .rname, .rmail, .zip, .phone{
    display: flex;
    flex-direction: column;
}

.usersname-name, .usersname-lastname, .location-city, .location-country, .rname, .rmail, .zip, .phone{
    width: 50%;
}

.lasttext{
    display: flex;
}